---
import PostList from "@layouts/PostList.astro";

import { getCollection } from "astro:content";

const scripts = await getCollection("scripts");
const authors = await getCollection("authors");
---

<PostList title="Index" desc="Index of Snippets" heading="Snippets">
  {
    scripts.map((entry) => {
      const authorData = authors.find(
        (author) => author.id === entry.data.author.id,
      );
      const { title, description } = entry.data;
      return (
        <div class="m-1 h-fit w-96 rounded-xl bg-box-light p-8 dark:bg-box-dark">
          <a href={entry.slug}>
            <img
              src={`/og/scripts/${entry.slug}.png`}
              alt={title}
              loading="eager"
              decoding="async"
            />
          </a>
          <br />
          <a href={entry.slug}>{title}</a>
          <p class="text-slate-600">
            by {authorData ? authorData.data.name : "Unknown Author"}
          </p>
          <hr class="my-2 border-slate-500" />
          <p class="text-sm text-slate-500">{description}</p>
        </div>
      );
    })
  }
</PostList>
