---
import { ClientRouter, fade } from "astro:transitions";

import background from "@assets/background.svg";
import { selfieUrl } from "astro-selfie";
import "@styles/global.css";
import "@styles/fonts.css";

const screenshotUrl = selfieUrl(Astro);

const { title, desc } = Astro.props;
---

<!doctype html>
<html lang="en" class="m-0 h-full w-full scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={screenshotUrl.href} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://snippets.nekoweb.org/" />
    <meta property="og:site_name" content="Snippets" />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="theme-color" content="#89dceb" />

    <title>{title}</title>
    <meta name="description" content={desc} />
    <ClientRouter />
  </head>
  <body
    class="m-0 h-full w-full bg-white dark:bg-bg"
    transition:animate={fade({ duration: "0.2s" })}
  >
    <div id="container" class="h-full font-sans">
      <img
        id="background"
        class="fixed left-0 top-0 -z-10 h-full w-full blur-3xl"
        src={background.src}
        alt=""
        fetchpriority="high"
      />
      <main class="flex h-full justify-center p-20">
        <slot />
      </main>
    </div>
  </body>
</html>
