---
import { ViewTransitions } from "astro:transitions";
import background from "../assets/background.svg";
import "../styles/global.css";
const { title, desc, ogUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      property="og:image"
      content=`https://snippets.nekoweb.org/opengraph/${ogUrl}`
    />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://snippets.nekoweb.org/" />
    <meta property="og:site_name" content="Snippets" />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="theme-color" content="#89dceb" />

    <title>{title}</title>
    <meta name="description" content={desc} />
    <ViewTransitions />
  </head>
  <body>
    <div id="container">
      <img id="background" src={background.src} alt="" fetchpriority="high" />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
