---
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import Rendered from "@layouts/Rendered.astro";
import "@styles/post.css";
import "remark-github-blockquote-alert/alert.css";

export async function getStaticPaths() {
  const FAQ = await getCollection("FAQ");

  return FAQ.map((entry) => ({
    params: { FAQ: entry.slug },
    props: { entry },
  }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Rendered
  title={entry.data.title}
  desc={entry.data.description}
  og=`/og/FAQ/${entry.slug}.png`
  ><h1 class="font-sans-alt">
    {entry.data.title}
  </h1><div class="pb-4 [&>*]:inline [&>*]:px-2">
    <p class="text-slate-500 no-underline">
      Last Updated: {entry.data.updated.toLocaleDateString()}
    </p>
  </div>
  <article><Content /></article>
</Rendered>
