---
import PostList from "@layouts/PostList.astro";

import { getCollection } from "astro:content";

const FAQ = await getCollection("FAQ");
---

<PostList title="Index" desc="Index of FAQs" heading="FAQs">
  {
    FAQ.map((entry) => {
      const { title, description } = entry.data;
      return (
        <div class="m-1 h-fit w-96 rounded-xl bg-box-light p-8 dark:bg-box-dark">
          <a href={entry.id}>
            <img
              src={`/og/FAQ/${entry.id}.png`}
              alt={title}
              loading="eager"
              decoding="async"
            />
          </a>
          <a href={entry.id}>{title}</a>
          <p class="text-sm text-slate-500">{description}</p>
        </div>
      );
    })
  }
</PostList>
